/*Using codes from Maria Marin follow MIT LICENSE*/
:root {
  --primary-light: #69dcd0;
  --primary: #41baae;
  --primary-dark: #276c65;
  --white: #FFFFFF;
  --grey-1: #e4ebf5;
  --grey-2: #c8d0e7;
  --grey-3: #9ba2b8;
  --greyDark: #7e89a7;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--grey-1);
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 16px;
}

.container {
  background-color: var(--grey-1);
  border-radius: 2rem;
  box-shadow: 0.8rem 0.8rem 1.4rem var(--grey-2), -0.2rem -0.2rem 1.8rem var(--white);
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  width: 40rem;
}

.settings-container {
  max-width: 40rem;
}

.popup-container {
  max-width: 20rem;
  border-radius:0%;
  box-shadow: none;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 0.8rem;
}

h2 {
  font-size: x-large;
  margin: 0;
}

h3 {
  font-size: large;
  margin-bottom: 0.8rem;
}

textarea {
  min-height: 8rem;
  height: auto;
  resize: vertical;
}

textarea,
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  border: none;
  border-radius: 0.6rem;
  font-size: 1rem;
  padding-left: 1.4rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--grey-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  background: none;
  font-family: inherit;
  color: var(--greyDark);
}

textarea::-moz-placeholder, input::-moz-placeholder {
  color: var(--grey-3);
}
textarea:-ms-input-placeholder, input:-ms-input-placeholder {
  color: var(--grey-3);
}
textarea::placeholder, input::placeholder {
  color: var(--grey-3);
}

textarea:focus,
input:focus {
  outline: none;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--grey-2), -0.2rem -0.2rem 0.5rem var(--white);
}

.language-inputs {
  display: flex;
  gap: 1rem;
}

.language-inputs input {
  flex: 1;
}

#outputBlock>div {
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--grey-2), -0.2rem -0.2rem 0.5rem var(--white);
  padding: 15px;
  font-size: 0.9rem;
  color: var(--greyDark);
  margin-bottom: 1rem;
  border-radius: 0.6rem;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

button {
  width: 8rem;
  height: 3rem;
  border-radius: 0.6rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--grey-2), -0.2rem -0.2rem 0.5rem var(--white);
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
  font-weight:bold;
}

#translateBtn,
#saveBtn {
  background: var(--primary);
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light), inset -0.2rem -0.2rem 1rem var(--primary-dark), 0.3rem 0.3rem 0.6rem var(--grey-2), -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--grey-1);
}

#translateBtn:hover,
#saveBtn:hover {
  background-color: var(--primary-dark);
}

#translateBtn:active,
#saveBtn:active {
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark), inset -0.2rem -0.2rem 1rem var(--primary-light);
}

#settingsBtn,
#resetBtn {
  color: var(--greyDark);
}

#settingsBtn:hover,
#resetBtn:hover {
  color: var(--primary);
}

#settingsBtn:active,
#resetBtn:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--grey-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}

footer {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight:bold;
  color: var(--greyDark);
}

footer a {
  color: var(--primary-dark);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}